@font-face {
font-family: master_of_break;
src: url('../font/master_of_break.otf'),
src: url('../font/master_of_break.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

nav {
  background-color: black;
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Century Gothic";
}

.accordeon {
  display: flex;
  justify-content: space-between;
  background-color: #373737;
  width: 100%;
  height: 100%;
}

.acc {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  font-size: 50px;
  transition: all .5s ease-in;
  overflow: hidden;
  font-family: 'master_of_break';
}

.titreAcc {
  transition: all 1s linear;
}

#acc1 .titreAcc{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/actus.jpg");
  background-size: cover;
  background-position: bottom;
}

#acc2 .titreAcc{
  background-color: red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: bottom;
  animation-delay: .3s;
}

#acc3 .titreAcc{
  background-image: url("../img/espaceperso.jpg");
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: right;
  animation-delay: .6s;
}

.titreMenu {
  font-size: 40px;
}

.contenuAcc {
  display: none;
}


@media (max-width: 600px) {
    .accordeon {
      display: flex;
      flex-direction: column;
    }
  }
