html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

nav {
  background-color: black;
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  font-family: "Century Gothic";
}

nav img {
  /*padding-left: 5%;*/
  cursor: pointer;
}

.navicon {
  cursor: pointer;
}

#imgLogo:hover {
  transform: rotate3d(3deg);
}

.accordeon {
  display: flex;
  justify-content: space-between;
  background-color: #373737;
  width: 100%;
  height: 100%;
}

.acc {
  border: 1px solid black;
  width: 100%;
  height: 85%;
  transition: all .5s ease-in;
  overflow: hidden;
  position: relative;
}

.acc h1 {
  font-family: 'Lobster', cursive;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  color: #1C7F03;
  transform: rotate(-7.5deg);
}

.titreAcc {
  transition: all 1s linear;
  position: relative;
  z-index: 999999;
}

#acc1 .titreAcc{
  background-image: url("../img/actus3.jpg");
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: left;
}

#acc2 .titreAcc{
  background-image: url("../img/referencement.jpg");
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: top;
  animation-delay: .3s;
}

#acc3 .titreAcc{
  background-image: url("../img/espaceperso.jpg");
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: right;
  animation-delay: .6s;
}

.titreMenu {
  font-size: 3vw;

}

.contenuAcc {
  display: flex;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*overflow-y: scroll;*/
}

.contenu {
  /*margin: 10% 30%;*/
  width: 100%;
  height:95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: space-around;*/
  font-family: 'Century Gothic';
  padding-top: 2%;
  overflow-y: scroll;
}


/*ACTUALITE*/
.Actu1{
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  width: 60%;
  margin: 2.5% 20% 1.25% 20%;
  color: white;
  font-size: 2vw;
  background-color: #585656;
}

.Actu1 p{
  margin-left: 30%;
  opacity: .7;

}

.FlyDiv img{
  width: 22.5%;
  height: 27.5%;
  background-size: cover;
  float: left;
  margin: 4.5% 10% 4.5% 5%;
}

.date {
  opacity: .5;
  letter-spacing: 1px;
  font-size: 1vw;
  margin-top: -2.5%;
}
/*FIN ACTUALITE*/


.footer {
  margin-top: 5%;
  width: 100%;
  /*height: 10%;*/
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2% 0%;
  color: white;
  opacity: .5;
  letter-spacing: 3px;
}

@media (max-width: 600px) {
    .accordeon {
      display: flex;
      flex-direction: column;
    }
  }
